@import "../../var";

.header {
  .aboutH {
    @extend %flex-aic;
    gap: 10px;
    .setting {
      position: absolute;
      top: 10px;
      left: 200px;
      @extend %flex-aic;
      gap: 20px;
    }
    .theme {
      display: grid;
      font-size: 10px;
      position: relative;
      text-align: center;
      span {
        // width: 100px;
        position: absolute;
        top: 20px;
      }
    }
    .lang {
      @extend %flex-aic;
      gap: 10px;
      > button {
        border: none;
        background: none;
        cursor: pointer;
        font-family: "Oswald", sans-serif;
        transition: 0.5s;
      }
    }
    h1 {
      text-transform: uppercase;
      // font-size: 40px
    }
  }
  .line {
    margin-top: 10px;
    height: 4px;
    width: 40px;
    border-radius: $border-rad;
    background-color: $less-accent;
  }
  .menu {
    @extend %flex-aic;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    > div {
      @extend %flex-aic;
      a {
        &:first-child {
          border-radius: 0 0 0 $border-rad;
        }
        &:last-child {
          border-radius: 0 $border-rad 0 0;
        }
        cursor: pointer;
        background-color: $accent-color;
        transition: 0.5s;
        padding: 15px 50px;
        &:hover {
          background-color: $font-color;
          color: $main-color;
        }
        &.active {
          background-color: $less-accent;
          color: $main-color;
        }
      }
    }
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: $less-accent;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  // background: #40e551
}

input:checked[type="checkbox"] {
  background: $font-color;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: $main-colorLight;
  transition: 0.5s;
  transform: scale(0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"]:before {
  background: $back-color;
  left: 20px;
}
.darkTheme {
  .lang {
    > button {
      font-size: $font-size;
      color: $font-color;
      &:hover {
        color: $less-accent;
      }
      &.active {
        color: $accent-color;
      }
    }
  }
}
.lightTheme {
  .line {
    background-color: $accent-color;
  }
  .lang {
    > button {
      font-size: $font-size;
      color: $main-color;
      &:hover {
        color: $less-accent;
      }
      &.active {
        color: $accent-color;
      }
    }
  }
}
@media (max-width: 1530px) {
  .header {
    .aboutH {
      .setting {
        left: 180px;
      }
    }
  }
}
@media (max-width: 1500px) {
  .header {
    .aboutH {
      .setting {
        left: 160px;
      }
    }
  }
}
@media (max-width: 1470px) {
  .header {
  .menu {
    > div {
      a {
        padding: 15px 40px;
      }
    }
  }
}
}
@media (max-width: 1350px) {
  .header {
  .menu {
    > div {
      a {
        padding: 15px 30px;
      }
    }
  }
}
}
